@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFF;
    --foreground: 240 10% 3.9%;
    --accent: #724cf9;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: #1e293b;
    --foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  @font-face {
    font-family: 'Modern Gallery';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(/fonts/gallery-modern.woff2) format('woff2');
  }
}